<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/37949394-e959-46a7-8147-d1078dc44368/resourceGroups/phra/providers/Microsoft.ContainerRegistry/registries/ProgrammingHomies</ResourceId>
    <ResourceName>ProgrammingHomies</ResourceName>
    <ResourceGroup>phra</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://programminghomies.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>v1.0.1</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>201bc17d-85ff-48e9-8821-de1923a8df3a</ProjectGuid>
  </PropertyGroup>
</Project>